<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../public/assets/styles/template.css">
</head>

<body>
    <div class="container-principal">
        <div class="cellphone">
            <div class="tela">
                <header id="header-tela">
                    <h1>Barber<span>Pro</span></h1>
                    <p>Escolha o Corte:</p>
                </header>

                <div class="DiaAgendamento">
                    <ul>
                        <li class="days" id="segunda">
                            <p>degrade</p>
                        </li>
                        <li class="days" id="terça">
                            <p>barba</p>
                        </li>
                        <li class="days" id="quarta">
                            <p>social</p>
                        </li>
                        <li class="days" id="quinta">
                            <p>barba e corte</p>
                        </li>
                        <li class="days" id="sexta">
                            <p>sobrancelha</p>
                        </li>
                        <li class="days" id="sabado">
                            <p>sobrancelha e barba</p>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>


</body>
<script type="module" src="../public/assets/js/DiaAgendamento.js"></script>

</html>